.btn {
  display: inline-block;
  padding: 8px 32px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  width: 100%;
  margin: 8px 0;

  &:disabled {
    cursor: default;
    background-color: #c9c9c9;
    color: #000;
  }

  @media screen and (min-width: 576px) {
    width: auto;
  }
}
