.hero {
  background: linear-gradient(to bottom right, #96c8ea, #cce0ff);
  text-align: center;
  padding: 72px 0;
}

.avatar {
  border-radius: 50%;
  object-fit: contain;
}

.title {
  font-weight: bold;
  font-size: 32px;
  margin: 16px 0 8px;
}

.text {
  font-size: 18px;
}
