.textarea {
  margin-top: 8px;
  padding: 8px;
  border: 1px solid #c9c9c9;
  resize: vertical;

  &:focus {
    border-color: darken(#c9c9c9, 20%);
    outline: none;
  }

  &:hover {
    background-color: #f9f9f9;
  }
}
