.footer {
  margin: auto 16px 0;
  border-top: 1px solid #c9c9c9;
  text-align: center;

  @media screen and (min-width: 768px) {
    margin-right: 48px;
    margin-left: 48px;
    padding: 8px 0;
  }
}
