.post {
  text-align: center;
}

.link {
  display: block;
  background-color: #fff;
  box-shadow: 0 1px 4px #dedede;
  transition: box-shadow 0.2s;
  border-radius: 4px;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 4px 2px #dedede;
  }
}

.header {
  background-color: #f0f0ee;
  padding: 8px 16px;
  position: relative;
  height: 150px;

  @media screen and (min-width: 768px) {
    height: 200px;
  }
}

.img {
  object-fit: cover;
}

.content {
  padding: 20px 16px;
  position: relative;

  h3 {
    margin: 0;
    font-size: 20px;
  }

  time {
    font-style: italic;
    font-size: 12px;
  }

  p {
    margin-bottom: 0;
  }
}

.badge {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 20px;
  padding: 0 8px;
  font-size: 12px;
  background-color: #f9f9f9;
}

.beauty {
  background-color: #c0edcb;
}

.fashion {
  background-color: #edd5ed;
}
